{% load i18n %}{% autoescape off %}

{% blocktranslate %} Hi {{user.get_username}},.{% endblocktranslate %}

{% translate "We have received a request to reset your password. If you have felt you haven't sent this, ignore this email. Otherwise, click on the link below to reset:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for contributing and have a nice day! :)" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}